:root {
 
  --main-text-color: #5e4b8a;
  --black: #242d49;
  --gray: #6378b6;
  --purple: linear-gradient(180deg, #5e4b8a 0%, #c484f3 100%);
  --pink: #ff919d;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}
body {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-main {
  color: var(--main-text-color) !important;
  font-weight: 800 !important;
}
.text-sub {
  color: var(--gray) !important;
  font-weight: 800 !important;
}
.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: var(--boxShadow);
  width: 250px;
}
.navbar-toggler {
  display: none; 
}

.layout {
  background: linear-gradient(105.37deg, #d8b5ff 0%, #1eae98 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-glass {
  display: flex;
  height: 90%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
  overflow: hidden;
  flex: 1;
  padding: 20px;
}

.table-responsive {
  overflow-x: auto;
}

.container-nav {
  padding-top: 15px;
  padding-right: 25px;
}
.navbar-brand {
  font-size: 30px !important;
  padding-left: 20px;
}

.nav-item {
  padding: 10px;
  padding-right: 30px;
  font-size: 14px;
  border-radius: 0.7rem;
  transition: all 300ms ease;
  position: relative;
  margin-left: 0;
}
.act {
  background: var(--activeItem);
  margin-left: 0;
}
.act::before {
  content: "";
  width: 8px;
  height: 100%;
  background: var(--pink);
  position: absolute;
  left: 0;
  top: 0;
  margin-right: calc(1rem -8px);
}
.nav-link {
  color: var(--black) !important;
}

.table {
  box-shadow: var(--boxShadow);
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: none !important;
}

.tbl {
  padding: 15px;
}

.loading-spinner {
  padding-top: 18%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
}

@media (min-width: 769px) {
  .navbar-collapse {
    display: block !important;
  }

  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    position: relative;
    width: 100%;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-collapse.show {
    display: flex;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-item {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column; 
  }
  .tbl {
    margin: 0;
  }
}
